/*Người Viết: Trần Phúc Thoại*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
#table_lon{
	width: 100%;
}
/*tr1*/
.table_lon_dau_trang{
	width: 100%;
}
.table_lon_dau_trang tr td{
	border: black solid 0px;
}
.table_lon_dau_trang tr td:nth-child(1){
	width: 25%;
}
.table_lon_dau_trang tr td:nth-child(2){
	width: 40%;
	padding-left: 40px;
}
.table_lon_dau_trang tr td:nth-child(3){
	width: 35%;
}
.table_lon_dau_trang tr:nth-child(1) img{
	padding-left: 80px;
}
/*tìm kiếm*/
.bang_tim_kiem{
	width: 400px;
	height: 30px;
}
.tim_kiem{
	width: 70px;
	height: 35px;
	background-color: #A1E609;
}
.tim_kiem:hover{
	background-color: #86c200;
}
/*liên hệ*/
.icon_phone{
	width: 40px;
	padding-left: 100px;
}
.table_lien_he_dau tr td:nth-child(1){
	text-align: right;
}
.table_lien_he_dau tr td:nth-child(2){
	text-align: left;
	padding: 0px 10px;
}
/*tr2*/
.table_lon_tr_2{
	background-color: #86c200;
	text-align: center;
} 
.table_lon_tr_2 td ul{
	list-style-type: none;
} 
.table_lon_tr_2 td ul li{
	list-style-type: none;
	display: inline-table;
} 
.table_lon_tr_2 td ul li a{
	text-decoration: none;
	font-weight: bold;
	display: block;
	font-size: 17px;
	color: white;
} 
.table_lon_tr_2 td ul li a:hover{
	color:  black;
}
/*tr3*/
.anh_bia{
	width: 100%
}
/*thân web*/
.table_lon_lien_he{
	width: 100%;
	border: black solid 0px;
	margin: 0 auto;
}
#table_lon .table_lon_tr_3{
	background-image: url("./anh/nen_contact_2.png");
	width: 100%;
	height: 600px;
}
/*tabble form*/
.table_lon_form{
	width: 55%;
	float: right;
	border: black solid 0px;
	padding: 50px;
}
.table_lon_form tr td{
	padding:5px;
}
.table_lon_form tr td input[type="text"]{
	width: 275px;
	height: 40px;
}
.table_lon_form tr td textarea{
	width: 565px;
	height: 120px;
}
.table_lon_form tr:nth-child(4) td{
 	text-align: center;
}
.table_lon_form td input[type="submit"]{
	width: 150px;
	height: 40px;
	background-color: #86c200;
	padding: 5px;
}
.table_lon_form td input[type="submit"]:hover{
	background-color: #68A827;
}
/*td_mô tả*/
.td_mo_ta{
	width: 45%;
	color: white;
	text-align: justify;
	padding: 0px 30px;
	font-size: 17px;
}
/*chân trang*/
.chan_trang_div_1{
	width: 50%;
	float: left;
	text-align: center;
	background-color: #3d3d3d;
	height: 250px;
	color: white;
}
.chan_trang_div_2{
	width: 50%;
	float: right;
	text-align: center;
	background-color: #3d3d3d;
	height: 250px;
	color: white;
}
.icon_1{
	width: 50px;
}
#logo_chan_trang{
	width: 220px;
}